{% extends 'blockchain/partials/layout.html' %} {% block content %}

<div class="container-fluid">
  {% include 'blockchain/partials/searchbar.html' %}
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="carousel">
              <a class="carousel-item" href="#one!"><img src="/static/images/msi.jpg"></a>
              <a class="carousel-item" href="#two!"><img src="/static/images/msi1.jpg"></a>
              <a class="carousel-item" href="#three!"><img src="/static/images/msi.jpg"></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col m6 s12">
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header active"><i class="material-icons">filter_drama</i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
              </li>
            </ul>
            {{ block.title }} {{ block.price }} {{ block.created_at }} {{ block.seller.name }} {{ block.seller.phone }}
            <a href="{% url 'index' %}">Back</a>
          </div>
          <div class="col m6 s12">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">iPhone 5s</span>
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                <h4>150,000 Ks</h4>
              </div>
              <div class="card-action">
                <a href="#">Buy</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
