<div class="background">
  <img src="/static/images/bg.jpg" class="bg-img responsive-img">
  <div class="container">
    <div class="input-field">
      <form action="{% url 'index' %}" method="get" id="search-form">
        {% csrf_token %}
        <input id="search" type="search">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons searchclose">close</i>
      </form>
    </div>
    <div class="sbtns center">
      {% if user.is_authenticated %}
      {% else %}
      <a href="#signinmodal" class="waves-effect waves-light btn indigo modal-trigger">Sign In</a>
      <a href="#signupmodal" class="waves-effect waves-light btn indigo modal-trigger">Sign Up</a>
      {% endif %}
    </div>
  </div>
</div>
